@model LoginVm;
@{
    ViewData["Title"] = "Login to your account";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4 class="form-header">Login to your account</h4>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form asp-controller="Authentication" asp-action="HandleLogin">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="from-group mb-3">
                        <label for="emailAddress">Email Address</label> 
                        <input type="email" asp-for="EmailAddress" class="form-control" id="emailAddress" placeholder="Enter email"/>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="from-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Enter password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-success mt-2 btn-login">Login</button>
                </form>
            </div>
        </div>

        <hr/>

        <div class="row pt-2">
            <div class="col-md-8 offset-md-2">
                <h5>OAuth Login</h5>
                @if(Model.Schemes.Count() == 0)
                {
                    <div>No external login providers have been configured</div>
                } else
                {
                    <form asp-action="ExternalLogin">
                        <div>
                            @foreach(var provider in Model.Schemes)
                            {
                                <button type="submit" 
                                    class="btn btn-primary" 
                                    name="provider" 
                                    value="@provider.Name"
                                    title="Login using your @provider.Name account">
                                    @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>