@{
    ViewData["Title"] = "All users";
}

<div class="container">
    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">user@email.com</h5>
                    <p class="card-text">This user has created 1 links and has a total of 2 clicks.</p>
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                            Show details
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample1">
                        <div class="card card-body">
                            <table class="table table-striped table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Original Link</th>
                                        <th scope="col">Short Link</th>
                                        <th scope="col">Number of clicks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>https://original.com</td>
                                        <td>shrt</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <small class="text-muted">1 link(s), and 2 click(s)</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">user@email.com</h5>
                    <p class="card-text">This user has created 1 links and has a total of 2 clicks.</p>
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                            Show details
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            <table class="table table-striped table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Original Link</th>
                                        <th scope="col">Short Link</th>
                                        <th scope="col">Number of clicks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>https://original.com</td>
                                        <td>shrt</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <small class="text-muted">1 link(s), and 2 click(s)</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">user@email.com</h5>
                    <p class="card-text">This user has created 1 links and has a total of 2 clicks.</p>
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                            Show details
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample3">
                        <div class="card card-body">
                            <table class="table table-striped table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Original Link</th>
                                        <th scope="col">Short Link</th>
                                        <th scope="col">Number of clicks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>https://original.com</td>
                                        <td>shrt</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <small class="text-muted">1 link(s), and 2 click(s)</small>
                </div>
            </div>
        </div>
    </div>
</div>